#!/bin/bash

# .config/iterm/com.googlecode.iterm2.plist hash: {{ include "dot_config/iterm/com.googlecode.iterm2.plist" | sha256sum }}

# set iTerm2 prefs custom folder
ITERM_PREFS_CUSTOM_FOLDER="$HOME/.config/iterm"

echo "Setting up iTerm2's prefs custom folder to $ITERM_PREFS_CUSTOM_FOLDER"
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.config/iterm"
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true
